#root {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.PopupImg {
  position: fixed;
  z-index: 400;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-content: center;
  .imageContainer {
    height: 100%;
    margin: 0 auto;
    width: fit-content;
    position: relative;
    max-height: 80%;
  }
  img {
    height: 100%;
    margin: 0 auto;
  }
  .close {
    width: 30px;
    height: 30px;
    z-index: 500;
    position: absolute;
    transform: translate(50%, -50%);
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    align-content: center;
    text-align: center;
    font-size: 1.2rem;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.hidden {
  display: none;
  opacity: 0%;
}
.loading {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.donateLink {
  z-index: 500;
  font-size: 1.25rem;
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(255, 255, 255);
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.389);

  a,
  a:visited {
    text-decoration: none;
    color: #575757;
  }
  a:hover {
    color: rgb(20, 170, 60);
  }
}

.uploadRoute {
  display: block;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  align-content: center;
  button {
    width: 200px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.365);
  }
}
.homeLink {
  border-radius: 5px;
  padding: 1rem;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.365);
  background: rgb(49, 207, 49);
  display: block;
  width: 200px;
  margin: 1rem auto;
  box-sizing: border-box;
}
.homeLink:hover {
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.365);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.full-height-map {
  height: 100vh;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}
.leaflet-popup-content {
  width: auto;
}
